<%= simple_form_for :user, url: api_v1_dashboard_path, html: { class: 'form-inline' }, remote: true do |f| %>
  <%= f.input :username %>
  <%= f.input :password %>
  <%= f.button :submit %>
<% end %>

<div id="chart">
</div>
